html {
  background-color: #ffffff17;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2rem 12.5rem 2rem;

  font-weight: normal;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff17;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: rgb(42, 42, 42);
  border-radius: 10px;
  border: 2px solid hsla(160, 100%, 37%, 1);
  width: 80%;
  padding: 40px;
  position: relative;
}

.modal-content:not(.modal-content-remove) {
  max-height: 85vh;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content .btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-content .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 30px;
}

.modal-content .modal-body {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: auto;
  max-height: 76vh;
}

.modal-body h2 {
  margin: 0;
  margin-bottom: 20px;
}

.modal-body label {
  width: 100%;
  text-align: left;
}

.click-outsise {
  background: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.card_gesture {
  opacity: 0;
  transition: 0.1s all ease;
}

.card:hover .card_gesture {
  opacity: 1;
}

.card-content {
  position: relative;
  height: 100%;
}

.card_gesture {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  gap: 5px;
}

.remove,
.edit {
  padding: 0;
  height: 27px;
  width: 27px;
}

.expand-button {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  cursor: pointer;
}

.expand {
  font-size: 40px;
  transition: 0.2s transform ease;
  user-select: none;
}

.expand-button.active .expand {
  transform: rotate(180deg);
}

.star-notation-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.star-notation-container button {
  width: 18.6% !important;
}

.star-notation {
  padding: 0;
}

.star-notation.active {
  background-color: rgb(58, 58, 58);
}

#actorsContainer,
#moviesContainer,
.moviesAddContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.addEntity {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: row;
}

.search-container input {
  width: 400px;
}

.search-container button {
  width: 200px !important;
}

.pagination {
  margin-bottom: 60px;
}

.pagination .active {
  background-color: rgb(58, 58, 58);;
  color: white;
}

.form-input {
  width: 100%;
}

.form-input label {
  display: block;
  width: 100%;
}

.noScroll {
  overflow: hidden;
}

.little-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.little-button-container button {
  width: 50%;
}

.category-name {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
  padding-bottom: 12px;
}

.category-name .category-gesture {
  display: flex;
  align-items: center;
  gap: 8px;
}

.category-name .category-gesture .edit,
.category-name .category-gesture .remove {
  height: 30px;
  width: 30px;
}

@media (min-width: 720px) {
  .modal-content {
    width: 70%;
  }

  .category-name .category-gesture {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  

  .category-name .category-gesture .edit,
  .category-name .category-gesture .remove {
    height: 40px;
    width: 40px;
  }

  .star-notation-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .star-notation-container button {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .about {
    display: flex;
  }

  #app {
    padding: 0 2rem 12.5rem 2rem 12rem;
  }
  .modal-content {
    width: 50%;
  }
}