@import './typography.css';
@import './base.css';
@import './layout.css';
@import './form.css';
@import './button.css';
@import './navigation.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 8rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.category ul:not(.list),
.movies ul:not(.list) ,
.actors ul:not(.list){
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0;
}

.item-listing {
  display: grid !important;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.card {
  width: 100%;
  min-width: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.card > .card-content {
  background-color: rgb(42, 42, 42);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.card:not(.card-movie) .card-content {
  padding: 30px;
}

.card-movie .card-content {
  height: 400px;
}

.card_background_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.content-text {
  padding: 30px;
  padding-top: 200px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-text {
  background-color: rgb(20, 20, 20);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(20, 20, 20) 50%);
}

.card a {  
  color: white;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  height: 100%;
  z-index: 1;
}

.loadingContainer {
  grid: auto / auto-flow;
}

.loading {
  width: 100%;
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 500px) {
  .item-listing {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  .item-listing {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  .item-listing {
    grid-template-columns: repeat(4, 1fr);
  }
}
